{% extends 'main/header.html' %}

{% load materializecss %}

{% block content %}

{% load static %} <!-- This method of serving images is for dev only! -->



    <table class="highlight">
        

        <thead>
            <tr>
                {% for fieldname in contact_fields %}
                    <th>{{ fieldname }}</th>
                {% endfor %}
            </tr>
        </thead>

    
        <tbody>
            {% for form in formset %}
                <tr>
                    {% for field in form %}
                        <!-- <td>{{ field|materializecss }}</td> --> <!-- date picker doesn't show current value -->
                        <td>{{ field }}</td>
                        <!-- <td>{{ field.value }}</td> -->
                    {% endfor %}
                </tr>
            {% endfor %}
        
        </tbody>
    </table>

{% endblock %}

